<div>
  <app-column-container>
    <!-- class column must stand outside the app-column element -->
    <div *ngFor="let column of board.columns" class="column">
      <app-column [title]="column.name" (dragover)="dragOverColumnHandler($event)" (drop)="dropOnColumnHandler($event)" >
        <app-ticket *ngFor="let ticket of column.tickets" [title]="ticket.title" draggable="true" (drag)="dragTicketHandler($event)" >
          <app-label *ngIf="ticket.label" [title]="ticket.label.name" [highlight]="ticket.label.highlightColor" ></app-label>
        </app-ticket>
      </app-column>
    </div>
  </app-column-container>
</div>
